<h2 mat-dialog-title>Swap Table</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>From Table</mat-label>
        <input matInput type="number" placeholder="From Table" [(ngModel)]="fromTable" disabled>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>To Table</mat-label>
        <input matInput type="number" id="toTable" placeholder="To Table" [(ngModel)]="toTable">
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="toTable">Submit</button>
</mat-dialog-actions>
