<app-toolbar></app-toolbar>

<div style="margin-top: 75px; height: 80%">
  <div class="left-content">
    <div class="row">
      <div class="col-md-3">
        <h2>Kiosk</h2>
      </div>
    </div>
    <mat-card class="mat-elevation-z8" style="width: 100%; height: 100%">
      <div class="row">
        <div class="container-fluid" align="center">
          <h3>Tables</h3>
        </div>
        <div class="container-fluid">
          <button mat-stroked-button *ngFor="let table of restaurantTables" style="margin: 5px;" [ngStyle]="{ 'background': table.running? '#007bff': '' }" (click)="activateTable(table)">
            {{ table.tableNumber }}
          </button>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="main-content">
    <mat-card class="mat-elevation-z8" style="width: 100%; height: 100%" *ngIf="activeTable.tableNumber">
      <div class="row" *ngIf="activeTable.running">
        <div class="col-md-12">
          <div class="pull-left">
            <h1 style="color: #28a745">
              {{ activeTable.tableNumber }}
            </h1>
          </div>
          <div class="pull-right">
            <button mat-stroked-button style="margin-right: 10px" (click)="swapTableClicked()">
              Swap Table
            </button>
            <button mat-stroked-button style="margin-right: 10px">
              Save KOT
            </button>
            <button mat-stroked-button style="margin-right: 10px">
              Settle
            </button>
            <button mat-stroked-button color="warn" style="margin-right: 10px" (click)="cancelOrder()">
              Cancel
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!activeTable.running">
        <div class="col-md-12">
          <div class="pull-left">
            <h1 style="color: #28a745">
              {{ activeTable.tableNumber }}
            </h1>
          </div>
          <div class="pull-right">
            <button mat-stroked-button style="margin-right: 10px" (click)="startOrder()">
              Start Order
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="activeTable.running">
        <div class="col-md-3">
          <mat-form-field class="example-full-width" style="width: 100%" >
            <mat-label>Item Name</mat-label>
            <input type="text" matInput placeholder="Item Name"
                   [matAutocomplete]="auto" name="productName"
                   id="odProductName" [(ngModel)]="orderDetail.productName"
            >
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let product of products | search: orderDetail.productName" [value]="product.name" (onSelectionChange)="setOrderDetail(product.name)">
                {{ product.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <mat-form-field class="example-full-width" style="width: 100%" >
            <mat-label>Qty</mat-label>
            <input type="number" id="odQty" matInput placeholder="Qty" [(ngModel)]="orderDetail.qty">
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Price" disabled [(ngModel)]="orderDetail.totalPrice">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-label>Extra</mat-label>
            <input matInput type="text" placeholder="Extra">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <button mat-stroked-button>
              <mat-icon>done</mat-icon>
            </button>
            <button mat-stroked-button style="margin-left: 10px;">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
