<div style="margin: 7% auto; width: 30%">
  <mat-card class="mat-elevation-z8">
    <div align="center">
      <h3>LOGIN</h3>
    </div>
    <div align="center">
      <mat-form-field class="example-full-width">
        <mat-label>Login ID</mat-label>
        <input matInput type="text" placeholder="Login ID">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="loginUser()">
        LOGIN
      </button>
    </div>
  </mat-card>
</div>
